<html>  
<head>
  <script src="https://kit.fontawesome.com/d17bc402f4.js" crossorigin="anonymous"></script>
</head>
<body>
  <br>
  <br>
  <h1> <p class="emt"       style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:#AA96DA" >cart is empty <br></p></h1>
  <h3   style="text-align: center; color:#AA96DA" > Add something to your cart and enjoy shopping</h3>
<div style=" margin-top: 15%;
  margin-bottom: 50%;
  margin-right: 50%;
  margin-left: 37%;       " >  
 
 <img class="image "src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpTF3Mu0Ph_kvcmsg8mt6aaCK700O4wpRYHA&usqp=CAU">
</div>
</body>
</html>
<style>
  .image {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  
  },
  
.emt{
    font-size: 3em;
     letter-spacing: 1px; 
     font-weight: bold;
      font-family: 'Montserrat', Sans-serif;
       background: url('./background.png' );
        -webkit-background-clip: text;
         background-clip: text;
          -webkit-text-fill-color: transparent; 
          animation: text 7.5s linear infinite; 
          }

          @keyframes text { 
            from { background-position: 0% 50%; } 
            to {background-position: 100% 100%; }
          }
</style>
